@import url(https://fonts.googleapis.com/css?family=Rubik);body {
  color: #000;
}

img {
  width: 100%;
}

.fa.social-icon {
  font-size: 4.8rem;
}

.fa.social-icon.fa-youtube-play {
  color: red;
}

.fa.social-icon.fa-facebook-square {
  color: #4267b2;
}

.button-m {
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  width: 32rem;
  border-radius: .2rem;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.4rem 1.8rem;
  position: relative;
  text-align: center;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  border-radius: .5rem;
  border: 2px solid #00a63f;
}

.button-default {
  color: #ffffff;
  background: #00a63f;
}

.button-custome {
  color: #00a63f;
  background: #ffffff;
}

.list-categories-wrapper {
  background: #00a63f;
  color: #ffffff;
  padding: 0;
}

.list-categories-wrapper .list-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: scroll;
  overflow: auto;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}

.list-categories-wrapper .list-categories .Category-item {
  width: auto;
  margin: .9rem;
  overflow: visible;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.list-categories-wrapper .list-categories .Category-item a {
  color: #ffffff;
}

.footer {
  background: #00a63f;
  color: #ffffff;
}

.footer .menuFooter {
  overflow: hidden;
  position: relative;
  padding: 8px 0;
}

.footer .menuFooter a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 4px 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

.footer .menuFooter a:first-child {
  font-weight: bold;
}

@media screen and (max-width: 970px) {
  .footer .menuFooter a {
    text-align: left;
  }

  .footer .menuFooter a:not(:first-child) {
    display: none;
    padding-left: 15px;
  }

  .footer .menuFooter a.icon {
    float: right;
    display: block;
  }
}

.footer .menuFooter .icon {
  display: none;
}

@media screen and (max-width: 970px) {
  .footer .menuFooter .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 970px) {
  .footer .menuFooter.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.footer .left-copyright {
  text-align: left;
}

.footer .right-social {
  text-align: right;
}

.title-home-wrapper {
  text-align: center;
}

.title-home-wrapper .title-home {
  font-size: 4.8rem;
  font-weight: bold;
  color: #000;
}

.banner-static-pages {
  background: #00a63f;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.button-static-pages {
  width: 100%;
  text-align: left;
}

.iframe-video {
  width: 50rem;
  height: 30rem;
}

.part_upload_youtube,
.part_upload_photo {
  display: none;
}

.img-campaign-item {
  width: 100%;
  height: 25rem;
}

.img-campaign-item .img_campaign,
.img-campaign-item .embed-responsive {
  width: 100%;
  height: 100%;
}

.campaign-item-bottom .content-campaign-item {
  width: 100%;
  height: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-contact-us input[type=text],
.page-contact-us select,
.page-contact-us textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.page-contact-us input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.page-contact-us input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */

.page-contact-us.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */

.page-contact-us .column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */

.page-contact-us .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
  .page-contact-us .column,
  .page-contact-us input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.overview .jumbotron {
  margin: 0 auto;
}

.overview .navbar-default {
  border: none;
  margin: 0 auto;
  background: #242c42;
}

.overview .navbar-default .navbar-brand {
  padding: 6px 15px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .overview .navbar-default .navbar-brand {
    width: 120px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .overview .navbar-default .navbar-brand {
    width: 160px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .overview .navbar-default .navbar-brand {
    width: 190px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .overview .navbar-default .navbar-brand {
    width: 190px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .overview .navbar-header button {
    padding: 3px 4px;
    margin-top: 14px;
    margin-right: 4px;
  }
}

.overview .navbar-right li:hover {
  background: #ffffff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  color: #86bc42;
}

@media screen and (min-width: 768px) {
  .overview .navbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .overview .navbar-right {
    text-align: center;
    font-size: 10px;
  }

  .overview .navbar-right li a {
    padding: 0;
  }

  .overview .navbar-right li a:hover,
  .overview .navbar-right li a:active,
  .overview .navbar-right li a:focus {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .overview .navbar-right {
    text-align: center;
    font-size: 12px;
  }

  .overview .navbar-right li a {
    padding: 0;
  }

  .overview .navbar-right li a:hover,
  .overview .navbar-right li a:active,
  .overview .navbar-right li a:focus {
    width: 50%;
    margin: 0 auto;
  }
}

.overview .list-categories-wrapper {
  margin: 0;
  background: #ffffff;
}

.overview .list-categories-wrapper .list-categories::scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.overview .list-categories-wrapper .list-categories::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  height: 2px;
}

.overview .list-categories-wrapper .list-categories::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #242c42;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .overview .list-categories-wrapper .list-categories::-webkit-scrollbar-thumb {
    background-color: #747474;
    opacity: .3;
  }

  .overview .list-categories-wrapper .list-categories::-webkit-scrollbar-thumb:active {
    background-color: #242c42;
  }
}

.overview .list-categories-wrapper .list-categories .Category-item {
  margin: 0;
  padding: .9rem;
}

.overview .list-categories-wrapper .list-categories .Category-item a {
  color: #86bc42;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.overview .list-categories-wrapper .list-categories .Category-item:hover,
.overview .list-categories-wrapper .list-categories .Category-item :active {
  background: #242c42;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: center;
}

.overview .list-categories-wrapper .list-categories .Category-item:hover a,
.overview .list-categories-wrapper .list-categories .Category-item :active a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .overview .list-categories-wrapper .list-categories {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .overview .list-categories-wrapper .list-categories {
    font-size: 12px;
  }
}

.overview .form-search-template-wrapper {
  margin-top: 13px;
  height: 25px;
  width: 100%;
  border-radius: 10px;
}

.overview .form-search-template-wrapper input {
  width: 80%;
  height: 100%;
  padding: 10px 5px;
  float: left;
  background: #eee;
  border-radius: 3px 0 0 3px;
}

.overview .form-search-template-wrapper input:focus {
  outline: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.overview .form-search-template-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.overview .form-search-template-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.overview .form-search-template-wrapper input::-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.overview .form-search-template-wrapper input::placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.overview .form-search-template-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 100%;
  width: 20%;
  font-size: 12px;
  color: #fff;
  background: #86bc42;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.overview .form-search-template-wrapper button:hover {
  background: red;
}

.overview .form-search-template-wrapper button:hover:before {
  border-right-color: red;
}

.overview .form-search-template-wrapper button:active,
.overview .form-search-template-wrapper button:focus {
  background: #c42f2f;
}

.overview .form-search-template-wrapper button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #86bc42 transparent;
  top: 3px;
  left: -6px;
}

.overview .form-search-template-wrapper button:focus:before {
  border-right-color: #c42f2f;
}

.overview .form-search-template-wrapper button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .overview .form-search-template-wrapper {
    float: right;
    width: 80%;
  }
}

.overview .search-campain-content {
  margin-bottom: 30px;
}

.overview .search-campain-content .campaign-item {
  margin: 30px 45px;
}

.overview .search-campain-content .img-campaign-item .img_campaign {
  border-radius: 10px;
}

.overview .search-campain-content .campaign-item-bottom .title-campaign-item {
  background: #86bc42;
  color: #242c42;
  font-weight: bold;
  text-align: center;
  width: 70%;
  height: 40px;
  border-radius: 10px;
}

.overview .search-campain-content .campaign-item-bottom .title-campaign-item .campaign-item-bottom {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.campaign-left {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  min-height: 1000px;
  -webkit-box-shadow: 1px 1px 3px #41313C;
          box-shadow: 1px 1px 3px #41313C;
  padding: 0;
  border-radius: 10px;
}

.campaign-left .btn-sharing {
  width: 30%;
  margin-left: 15px;
}

.campaign-left .picture-campaign-wrapper {
  height: 430px;
  width: 800px;
  overflow: hidden;
  padding: 0;
}

.campaign-left .picture-campaign-wrapper img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .campaign-left .picture-campaign-wrapper {
    width: 100%;
    height: auto;
  }
}

.campaign-left .title-campaign h3 {
  text-align: center;
  text-transform: uppercase;
}

.campaign-left .share-campaign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px 0;
}

.campaign-left .share-campaign .facebook {
  padding: 5px 16px;
  background: #3A569B;
  width: 300px;
}

.campaign-left .share-campaign .facebook i {
  margin-right: 30px;
}

.campaign-left .share-campaign .twitter {
  width: 300px;
  padding: 5px 16px;
}

.campaign-left .share-campaign .twitter i {
  margin-right: 30px;
}

.campaign-left .story-campaign {
  margin: 0 15px;
  text-align: justify;
}

.campaign-left .story-campaign h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #86bc42;
}

.campaign-left .story-campaign p {
  margin-top: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

.campaign-left .story-campaign .dotted-line {
  margin: 0;
  background: 0 0;
  border-bottom: 1px dotted #cacaca;
}

.campaign-left .title-campaign {
  margin: 0 15px;
  color: #4B4B4B;
}

.campaign-left .title-campaign .dotted-line {
  background: 0 0;
  border-bottom: 1px dotted #cacaca;
}

.campaign-left .dotted-line {
  margin: 0 15px;
  background: 0 0;
  border-bottom: 1px dotted #cacaca;
}

.campaign-right {
  margin-top: 10px;
  margin-left: 30px;
  -webkit-box-shadow: 1px 1px 3px #41313C;
          box-shadow: 1px 1px 3px #41313C;
  padding: 0;
  border-radius: 10px;
  width: 30%;
}

@media screen and (max-width: 992px) {
  .campaign-right {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }
}

.campaign-right .progress {
  height: 20px;
  width: 90%;
  margin: 15px auto;
}

.campaign-right .money-campaign {
  margin: 0 30px;
  font-size: 30px;
}

.campaign-right .producer-campaign {
  color: #666;
  margin: 0 30px;
  font-weight: 100;
}

.campaign-right .share-campaign-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.campaign-right .share-campaign-right .facebook {
  margin: 15px 0;
  background: #3A569B;
}

.campaign-right .share-campaign-right .facebook i {
  margin-right: 30px;
}

.campaign-right .share-campaign-right .twitter {
  margin: 0 0 15px 0;
}

.campaign-right .share-campaign-right .twitter i {
  margin-right: 30px;
}

.banner-static-pages {
  padding: 0 0 10px 0;
}

.banner-static-pages .title-static-page {
  margin-top: 15px;
}

.banner-static-pages .desc-static-page {
  margin: 15px 0;
}

.create-campain {
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  top: 30%;
  background: #242c42;
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}

.create-campain .campain-submit-ctrl {
  width: 20%;
  margin: 2% 40%;
}

.create-campain .campain-submit-ctrl .button-default {
  background: #86bc42;
  font-size: 22px;
  height: 40px;
  padding: 0;
  border: none;
  -webkit-box-shadow: inset 0px -11px 8px -10px #00a63f;
          box-shadow: inset 0px -11px 8px -10px #00a63f;
}

.create-campain .campain-submit-ctrl .button-default:hover {
  background: #242c42;
  border: 2px solid #ffffff;
  -webkit-box-shadow: inset 0px -11px 8px -10px #747474;
          box-shadow: inset 0px -11px 8px -10px #747474;
}

.footer {
  margin-top: 96px;
  background: #242c42;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    margin-top: 30px;
  }
}

.footer .menuFooter {
  margin-bottom: 30px;
}

.footer .menuFooter li {
  list-style-type: none;
  color: #86bc42;
}

.footer .menuFooter .Leader {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #86bc42;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .menuFooter .Leader {
    margin-bottom: 4px;
    font-size: 17px;
  }
}

@media screen and (min-width: 480px) and (max-width: 580px) {
  .footer .menuFooter .Leader {
    font-size: 18px;
  }
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  .footer .menuFooter .Leader {
    font-size: 19px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer .menuFooter .Leader {
    margin-bottom: 5px;
  }
}

.footer .menuFooter .fa-angle-right {
  width: 15px;
  color: #86bc42;
  font-weight: bold;
}

.footer .menuFooter .fa-angle-right:hover {
  color: #ffffff;
}

.footer .menuFooter a {
  text-align: left;
}

.footer .menuFooter a:hover {
  color: #86bc42;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .menuFooter a {
    font-size: 11px;
  }
}

@media screen and (min-width: 480px) and (max-width: 580px) {
  .footer .menuFooter a {
    font-size: 12px;
  }
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  .footer .menuFooter a {
    font-size: 14px;
  }
}

.footer .menuFooter .get-started,
.footer .menuFooter .footer-introduction {
  margin-left: 33%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .menuFooter .get-started,
  .footer .menuFooter .footer-introduction {
    margin-left: 30%;
  }
}

.footer .menuFooter .tio-categories,
.footer .menuFooter .get-support {
  margin-left: 33%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .menuFooter .tio-categories,
  .footer .menuFooter .get-support {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer .menuFooter {
    margin-bottom: 0;
  }
}

.footer .fa.social-icon {
  background: #3b4757;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  font-size: inherit;
  color: #ffffff;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  border-radius: 3px;
  display: inline-block;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.footer .fa.social-icon:hover {
  background: #86bc42;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer .fa.social-icon {
    width: 15px;
    height: 15px;
    font-size: 8px;
    line-height: 15px;
    margin-left: 0;
  }
}

.footer .right-social {
  text-align: right;
}

.footer .footer_hr {
  padding-top: 5px;
  border-top: 1px solid #747474;
}

.footer .footer_hr .left-copyright-content {
  padding: 0 8px;
}

.footer .footer_hr .left-copyright-content .left-copyright {
  color: #ffffff;
  font-style: italic;
}

@media screen and (min-width: 320px) and (max-width: 380px) {
  .footer .footer_hr .left-copyright-content .left-copyright {
    font-size: 8px;
  }
}

@media screen and (min-width: 380px) and (max-width: 440px) {
  .footer .footer_hr .left-copyright-content .left-copyright {
    font-size: 9px;
  }
}

@media screen and (min-width: 440px) and (max-width: 480px) {
  .footer .footer_hr .left-copyright-content .left-copyright {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 580px) {
  .footer .footer_hr .left-copyright-content .left-copyright {
    font-size: 11px;
  }
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  .footer .footer_hr .left-copyright-content .left-copyright {
    font-size: 13px;
  }
}

.footer .footer_hr .left-copyright-content .left-copyright:hover {
  color: #86bc42;
  text-decoration: none;
}

.footer .footer_hr .left-copyright-content span {
  font-size: 16px;
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .footer .footer_hr .left-copyright-content span {
    font-size: 10px;
  }
}

@media screen and (min-width: 440px) and (max-width: 480px) {
  .footer .footer_hr .left-copyright-content span {
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 580px) {
  .footer .footer_hr .left-copyright-content span {
    font-size: 13px;
  }
}

@media screen and (min-width: 580px) and (max-width: 768px) {
  .footer .footer_hr .left-copyright-content span {
    font-size: 15px;
  }
}

.home-page-layout {
  text-align: center;
}

.home-page-layout .home-slider .home-slider-discribe {
  background: rgba(36, 44, 66, 0.3);
  -webkit-box-shadow: 0px 3px 15px 1px #ffffff;
          box-shadow: 0px 3px 15px 1px #ffffff;
  border-radius: 10px;
  width: 40%;
  bottom: 12%;
  left: 10%;
  position: absolute;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .home-slider .home-slider-discribe {
    width: 55%;
    bottom: 1%;
    left: 25%;
    background: rgba(36, 44, 66, 0.6);
  }
}

@media screen and (min-width: 480px) and (max-width: 580px) {
  .home-page-layout .home-slider .home-slider-discribe {
    bottom: 2%;
    width: 50%;
    left: 28%;
  }
}

@media screen and (min-width: 580px) and (max-width: 680px) {
  .home-page-layout .home-slider .home-slider-discribe {
    width: 50%;
    bottom: 2%;
    left: 28%;
  }
}

@media screen and (min-width: 680px) and (max-width: 768px) {
  .home-page-layout .home-slider .home-slider-discribe {
    width: 50%;
    bottom: 2%;
    left: 28%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page-layout .home-slider .home-slider-discribe {
    width: 35%;
    bottom: 3%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .home-page-layout .home-slider .home-slider-discribe {
    bottom: 3%;
  }
}

@media screen and (min-width: 1280px) {
  .home-page-layout .home-slider .home-slider-discribe {
    width: 40%;
    bottom: 4%;
    left: 10%;
  }
}

.home-page-layout .home-slider .home-slider-discribe .desc-trust-title {
  font-size: 25px;
  padding-top: 30px;
  font-weight: bold;
}

.home-page-layout .home-slider .home-slider-discribe .title-home-wrapper {
  padding: 60px 20px 30px 20px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper {
    padding: 60px 20px 30px 20px;
  }
}

.home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .title-home {
  color: #ffffff;
  margin: 10px 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .title-home {
    font-size: 13px;
  }
}

@media screen and (min-width: 480px) and (max-width: 580px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .title-home {
    font-size: 15px;
  }
}

@media screen and (min-width: 580px) and (max-width: 680px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .title-home {
    font-size: 20px;
  }
}

@media screen and (min-width: 680px) and (max-width: 768px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .title-home {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .title-home {
    font-size: 26px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .title-home {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .title-home {
    font-size: 40px;
  }
}

.home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-startfun {
  background: #86bc42;
  border: none;
  -webkit-box-shadow: inset 0px -11px 8px -10px #00a63f;
          box-shadow: inset 0px -11px 8px -10px #00a63f;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-startfun {
    font-size: 7px;
    padding: 5px 10px;
    width: 15rem;
    margin: 4px auto;
    border: 2px solid #ffffff;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-startfun {
    font-size: 10px;
    padding: 7px 10px;
    width: 18rem;
    border: 2px solid #ffffff;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-startfun {
    width: 18rem;
    font-size: 10px;
    padding: 8px;
    border: 2px solid #ffffff;
  }
}

.home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-startfun:hover {
  color: #86bc42;
  text-decoration: none;
  background: #242c42;
  -webkit-box-shadow: inset 0px -11px 8px -10px #747474;
          box-shadow: inset 0px -11px 8px -10px #747474;
}

.home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-howitwork {
  border: 2px solid #86bc42;
  background: #ffffff;
  color: #86bc42;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-howitwork {
    font-size: 7px;
    padding: 5px 10px;
    width: 15rem;
    margin: 4px auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-howitwork {
    font-size: 10px;
    padding: 7px 10px;
    width: 18rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-howitwork {
    width: 18rem;
    font-size: 10px;
    padding: 8px;
  }
}

.home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-howitwork:hover,
.home-page-layout .home-slider .home-slider-discribe .title-home-wrapper .btn-custome-howitwork:active {
  background: #242c42;
  border: 2px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
}

.home-page-layout .home-slider .carousel-inner {
  position: relative;
}

.home-page-layout .home-slider .carousel-inner .item img {
  width: 100%;
  height: 100%;
}

.home-page-layout .home-slider .carousel-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  padding-top: 25px;
}

.home-page-layout .home-slider .carousel-control .fa-chevron-left {
  height: 60px;
  width: 20px;
}

.home-page-layout .home-slider .carousel-control .fa-chevron-right {
  height: 60px;
  width: 20px;
  right: 0;
  left: auto;
  position: absolute;
}

.home-page-layout .icon-categroies {
  cursor: pointer;
}

.home-page-layout .icon-categroies .icon-categroies-point h2 {
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  color: #86bc42;
  font-size: 28px;
  font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .icon-categroies .icon-categroies-point h2 {
    font-size: 13px;
  }
}

.home-page-layout .icon-categroies .icon-categroies-point i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home-page-layout .icon-categroies .icon-categroies-details {
  padding: 60px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home-page-layout .icon-categroies .icon-categroies-details .mini-watch:hover {
  text-decoration: none;
}

.home-page-layout .icon-categroies .icon-categroies-details .mini-watch h4 {
  color: #86bc42;
  padding: 35px 0;
}

.home-page-layout .icon-categroies .icon-categroies-details .mini-watch h4:hover,
.home-page-layout .icon-categroies .icon-categroies-details .mini-watch h4 :active {
  color: #242c42;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch h4 {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch h4 {
    font-size: 12px;
    padding: 20px 0;
  }
}

@media screen and (min-width: 667px) and (max-width: 768px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch h4 {
    font-size: 10px;
    padding: 18px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 667px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch h4 {
    font-size: 9px;
    padding: 18px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch h4 {
    font-size: 4px;
    padding: 5px 0;
  }
}

.home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat {
  background: #242c42;
  border: 2px solid #86bc42;
  -webkit-box-shadow: 0px 11px 8px -6px #747474;
          box-shadow: 0px 11px 8px -6px #747474;
  width: 100px;
  height: 100px;
  border-radius: 5px 40px 5px;
}

.home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat:hover,
.home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat :active {
  background: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat {
    width: 30px;
    height: 30px;
    border-radius: 0 12px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 667px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat {
    width: 50px;
    height: 50px;
    border-radius: 0 15px 0;
  }
}

@media screen and (min-width: 667px) and (max-width: 768px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat {
    width: 55px;
    height: 55px;
    border-radius: 0 15px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat {
    width: 65px;
    height: 65px;
    border-radius: 5px 20px 5px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat {
    width: 85px;
    height: 85px;
    border-radius: 5px 30px 5px;
  }
}

.home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat img {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat img {
    width: 15px;
    height: 15px;
    margin-top: 2px;
  }
}

@media screen and (min-width: 480px) and (max-width: 667px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat img {
    width: 20px;
    height: 20px;
    margin-top: 14px;
  }
}

@media screen and (min-width: 667px) and (max-width: 768px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-page-layout .icon-categroies .icon-categroies-details .mini-watch .icon-cat img {
    margin-top: 15px;
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .icon-categroies .icon-categroies-details {
    padding: 20px 0;
  }
}

.home-page-layout .trust-my-company h1 {
  font-weight: bold;
  font-size: 40px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .trust-my-company h1 {
    font-size: 18px;
  }
}

.home-page-layout .trust-my-company .litle-trust-child {
  margin-top: -15px;
  font-size: 24px;
  margin-bottom: 90px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .trust-my-company .litle-trust-child {
    font-size: 13px;
    margin-bottom: 30px;
  }
}

.home-page-layout .trust-my-company .desc-trust-title {
  font-size: 18px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .trust-my-company .desc-trust-title {
    font-size: 15px;
  }
}

.home-page-layout .trust-my-company .desc-trust-desc {
  font-size: 18px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .trust-my-company .desc-trust-desc {
    font-size: 10px;
  }
}

.home-page-layout .trust-my-company .expand {
  color: #86bc42;
  font-weight: bold;
}

.home-page-layout .trust-my-company .expand:hover {
  text-decoration: none;
  color: #242c42;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .home-page-layout .trust-my-company .expand {
    font-size: 8px;
  }
}

.content-page-my-account {
  height: 100%;
}

.content-page-my-account .banner-static-pages {
  position: relative;
  margin: 25px auto;
  background: #242c42;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
}

.content-page-my-account .name_profile {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
  color: #ffffff;
}

.content-page-my-account .profile_user_avatar {
  padding: 25px;
}

.content-page-my-account .profile_user_avatar img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0 38%;
}

.content-page-my-account .avatar_upload_wrapper {
  padding-top: 30px;
}

.content-page-my-account .avatar_upload_wrapper .upload-avatar {
  display: none;
}

.content-page-my-account .avatar_upload_wrapper label {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  margin: 0 34%;
  z-index: 1;
  display: block;
  text-align: center;
}

.content-page-my-account .avatar_upload_wrapper label:hover {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  border-radius: 10%;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .content-page-my-account .avatar_upload_wrapper {
    text-align: center;
    padding: 0;
  }
}

.content-page-my-account .profile_user {
  width: 100%;
  background: #242c42;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
  padding: 25px;
}

.content-page-my-account .profile_user .formControlProfile {
  background: transparent;
  color: #747474;
  border: 1px solid #747474;
  border-radius: 5px;
  margin-top: 2%;
}

@media screen and (max-width: 992px) {
  .content-page-my-account .profile_user .formControlProfile {
    text-align: center;
  }
}

.content-page-my-account .profile_user label {
  color: #ffffff;
  font-weight: bold;
}

.content-page-my-account .button-m {
  font-size: 1.2rem;
}

.content-page-my-account .button-default {
  width: 100px;
  height: 40px;
  padding: 8px 2px;
  float: left;
  margin: 5% 50%;
  background: #86bc42;
  border: none;
  -webkit-box-shadow: inset 0px -11px 8px -10px #00a63f;
          box-shadow: inset 0px -11px 8px -10px #00a63f;
}

@media screen and (max-width: 992px) {
  .content-page-my-account .button-default {
    margin: 0 auto;
    height: 100%;
    width: 50%;
    float: none;
  }
}

.content-about-us {
  margin-top: 20px;
}

.banner-static-pages {
  position: relative;
  margin: 25px auto;
  background: #242c42;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
}

.categories-content-wrapper {
  text-align: justify;
  margin-top: 30px;
  font-size: 18px;
}

.categories-content-wrapper .top-categories .page-category-banner-top h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #86bc42;
  padding-bottom: 15px;
  margin: 0;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .categories-content-wrapper .top-categories .page-category-banner-top h2 {
    font-size: 32px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 992px) {
  .categories-content-wrapper .top-categories .page-category-banner-top h2 {
    margin-top: 10px;
  }
}

.categories-content-wrapper .top-categories .page-category-banner-top p {
  text-align: center;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .categories-content-wrapper .top-categories .page-category-banner-top p {
    font-size: 16px;
  }
}

.categories-content-wrapper .top-categories .page-category-banner-top a {
  margin-top: 12%;
  margin-bottom: 15%;
  position: absolute;
}

.categories-content-wrapper .top-categories .page-category-banner-top a:hover {
  text-decoration: none;
  color: #86bc42;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .categories-content-wrapper .top-categories .page-category-banner-top a {
    margin-top: 18%;
  }
}

@media screen and (max-width: 992px) {
  .categories-content-wrapper .top-categories .page-category-banner-top a {
    margin: 0 auto;
    position: relative;
  }
}

.categories-content-wrapper .top-categories .button-default {
  background: #86bc42;
  border: none;
  -webkit-box-shadow: inset 0px -11px 8px -10px #00a63f;
          box-shadow: inset 0px -11px 8px -10px #00a63f;
}

.categories-content-wrapper .top-categories .button-default:hover {
  background: #242c42;
  -webkit-box-shadow: inset 0px -11px 8px -10px #747474;
          box-shadow: inset 0px -11px 8px -10px #747474;
}

.categories-content-wrapper .top-categories .page-category-slider-top .home-slider .picture-wrapper {
  height: 400px;
}

.categories-content-wrapper .top-categories .page-category-slider-top .home-slider .picture-wrapper .item {
  overflow: hidden;
}

.categories-content-wrapper .top-categories .page-category-slider-top .home-slider .picture-wrapper img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .categories-content-wrapper .top-categories .page-category-slider-top .home-slider .picture-wrapper {
    height: auto;
  }
}

.categories-content-wrapper .top-categories .page-category-slider-top .home-slider .carousel-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

.categories-content-wrapper .top-categories .page-category-slider-top .home-slider .carousel-control .fa-chevron-left {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 25px;
  height: 60px;
  width: 20px;
}

.categories-content-wrapper .top-categories .page-category-slider-top .home-slider .carousel-control .fa-chevron-right {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 25px;
  height: 60px;
  width: 20px;
  right: 0;
  left: auto;
  position: absolute;
}

.categories-content-wrapper .bottom-categories .content-category {
  text-align: justify;
  padding: 50px 10px;
  padding-bottom: 35px;
}

.categories-content-wrapper .bottom-categories .content-category ul {
  list-style: none;
}

.categories-content-wrapper .bottom-categories .content-category h3,
.categories-content-wrapper .bottom-categories .content-category h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
}

.categories-content-wrapper .bottom-categories .content-list-campaign h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

@media screen and (max-width: 580px) {
  .categories-content-wrapper .bottom-categories .content-list-campaign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.categories-content-wrapper .bottom-categories .content-list-campaign .campaign-item {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  height: 360px;
  margin-bottom: 30px;
}

@media screen and (max-width: 580px) {
  .categories-content-wrapper .bottom-categories .content-list-campaign .campaign-item {
    width: 100%;
    height: 400px;
  }
}

.categories-content-wrapper .bottom-categories .content-list-campaign .campaign-item .img-campaign-item {
  width: 100%;
  height: 250px;
}

.categories-content-wrapper .bottom-categories .content-list-campaign .campaign-item .img-campaign-item .img_campaign {
  height: 100%;
  border-bottom: 26px solid #86bc42;
  overflow: hidden;
}

.categories-content-wrapper .bottom-categories .content-list-campaign .campaign-item .target-campaign-item {
  position: absolute;
  top: 60%;
  left: 5%;
  color: #ffffff;
}

@media screen and (max-width: 580px) {
  .categories-content-wrapper .bottom-categories .content-list-campaign .campaign-item .target-campaign-item {
    top: 55%;
    left: 40%;
  }
}

.categories-content-wrapper .bottom-categories .content-list-campaign .campaign-item .campaign-item-bottom {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}

.categories-content-wrapper .bottom-categories .content-list-campaign .campaign-item .campaign-item-bottom .title-campaign-item {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 0;
}

.content-howtowork .myvideo {
  position: relative;
}

.content-howtowork .myvideo .video-content .text-center .video-howitwork {
  height: 500px;
  width: 100%;
}

.content-howtowork .myvideo .btn-howitwork {
  margin: 0 auto;
}

.content-howtowork .btn-start-campain {
  background: #86bc42;
  border: none;
  -webkit-box-shadow: inset 0px -11px 8px -10px #00a63f;
          box-shadow: inset 0px -11px 8px -10px #00a63f;
}

.content-howtowork .btn-start-campain:hover {
  background: #242c42;
  -webkit-box-shadow: inset 0px -11px 8px -10px #747474;
          box-shadow: inset 0px -11px 8px -10px #747474;
}

.content-howtowork .how-it-work-content {
  cursor: pointer;
  margin-top: 100px;
  padding: 0 30px;
}

.content-howtowork .how-it-work-content .step1 .button-static-pages {
  background: #86bc42;
  width: 150px;
  height: 150px;
  border-radius: 5px 40px 5px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 11px 8px -6px #747474;
          box-shadow: 0px 11px 8px -6px #747474;
}

.content-howtowork .how-it-work-content .step1 .button-static-pages:hover {
  background: #242c42;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .content-howtowork .how-it-work-content .step1 .button-static-pages {
    width: 150px;
    height: 125px;
    margin: 0 auto;
  }
}

.content-howtowork .how-it-work-content .step1 .button-static-pages i {
  font-size: 24px;
  color: #ffffff;
  padding-left: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.content-howtowork .how-it-work-content .step1 .button-static-pages h1 {
  text-align: center;
  color: #ffffff;
}

.content-howtowork .how-it-work-content .step2 {
  padding-left: 100px;
  padding-top: 20px;
}

.content-howtowork .how-it-work-content .step2 .button-static-pages {
  background: #86bc42;
  width: 150px;
  height: 150px;
  border-radius: 5px 40px 5px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 11px 8px -6px #747474;
          box-shadow: 0px 11px 8px -6px #747474;
}

.content-howtowork .how-it-work-content .step2 .button-static-pages:hover {
  background: #242c42;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.content-howtowork .how-it-work-content .step2 .button-static-pages i {
  font-size: 24px;
  color: #ffffff;
  padding-left: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.content-howtowork .how-it-work-content .step2 .button-static-pages h1 {
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .content-howtowork .how-it-work-content .step2 .button-static-pages {
    width: 150px;
    height: 125px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .content-howtowork .how-it-work-content .step2 {
    padding-left: 10px;
  }
}

.content-howtowork .how-it-work-content .step3 {
  padding-left: 200px;
  padding-top: 20px;
}

.content-howtowork .how-it-work-content .step3 .button-static-pages {
  background: #86bc42;
  width: 150px;
  height: 150px;
  border-radius: 5px 40px 5px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 11px 8px -6px #747474;
          box-shadow: 0px 11px 8px -6px #747474;
}

.content-howtowork .how-it-work-content .step3 .button-static-pages:hover {
  background: #242c42;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.content-howtowork .how-it-work-content .step3 .button-static-pages i {
  font-size: 24px;
  color: #ffffff;
  padding-left: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.content-howtowork .how-it-work-content .step3 .button-static-pages h1 {
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .content-howtowork .how-it-work-content .step3 .button-static-pages {
    width: 150px;
    height: 125px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .content-howtowork .how-it-work-content .step3 {
    padding-left: 25px;
  }
}

.content-howtowork .how-it-work-content .step4 {
  padding-left: 300px;
  padding-top: 20px;
}

.content-howtowork .how-it-work-content .step4 .button-static-pages {
  background: #86bc42;
  width: 150px;
  height: 150px;
  border-radius: 5px 40px 5px;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 11px 8px -6px #747474;
          box-shadow: 0px 11px 8px -6px #747474;
}

.content-howtowork .how-it-work-content .step4 .button-static-pages:hover {
  background: #242c42;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.content-howtowork .how-it-work-content .step4 .button-static-pages i {
  font-size: 24px;
  color: #ffffff;
  padding-left: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.content-howtowork .how-it-work-content .step4 .button-static-pages h1 {
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .content-howtowork .how-it-work-content .step4 .button-static-pages {
    width: 150px;
    height: 125px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 530px) {
  .content-howtowork .how-it-work-content .step4 {
    padding-left: 25px;
  }
}

.control-campain .title-campain {
  font-weight: bold;
  background: #86bc42;
  width: 30%;
  color: #ffffff;
  border-radius: 10px;
}

.control-campain .title-campain h1 {
  text-align: center;
}

.control-campain .little-title-campain {
  font-size: 16px;
  padding-left: 45px;
  padding-bottom: 50px;
}

.about-us .about-us-img {
  margin: 10px;
}

.about-us .content-about-us {
  padding-top: 30px;
  text-align: justify;
  font-size: 18px;
}

.about-us .fa-hand-o-right {
  font-size: 40px;
  padding-bottom: 30px;
}

.term-content {
  text-align: justify;
}

.term-content .btn-term {
  background: #242c42;
  border: none;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.term-content .button-default {
  padding: 0;
}

.legal-content-overview {
  text-align: justify;
}

.legal-content-overview .btn-term {
  background: #242c42;
  border: none;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.legal-content-overview .button-default {
  padding: 0;
}

.hirring-content {
  text-align: justify;
  min-height: 350px;
}

.hirring-content .btn-term {
  background: #242c42;
  border: none;
  color: #ffffff;
  text-align: center;
  width: 50%;
}

.hirring-content .button-default {
  padding: 0;
}

.fees-content {
  min-height: 350px;
}

.page-contact-us .right-contact {
  color: #ffffff;
  background: #242c42;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.page-contact-us .right-contact .btn-contact-us {
  margin-left: 30%;
}

@media screen and (max-width: 992px) {
  .page-contact-us .right-contact .btn-contact-us {
    margin: 0;
  }
}

.page-contact-us .right-contact .btn-contact-us .form-control {
  -webkit-box-shadow: inset 0px -11px 8px -10px #00a63f;
          box-shadow: inset 0px -11px 8px -10px #00a63f;
  background: #86bc42;
  padding: 8px 20px;
}

.privacy-content {
  text-align: justify;
}

.privacy-content .btn-term {
  background: #242c42;
  border: none;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.privacy-content .button-default {
  padding: 0;
}

.news-blog {
  background: url(https://cdn-images-1.medium.com/max/2000/1*fTyX1Qc-MNv5XdNVAvUrlQ.png);
  position: relative;
  border-radius: 0;
  background-position: 50% 2% !important;
  cursor: pointer;
}

.news-blog .title-desc {
  margin: 0 auto;
  background-color: rgba(36, 44, 66, 0.3);
  width: 60%;
  border-radius: 5px;
}

.news-blog .title-static-page {
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.news-blog .title-static-page p {
  margin: 0;
}

.content-news-blog {
  padding-top: 30px;
}

.content-news-blog .title-content {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
  color: #6C6C6C;
}

.content-news-blog .title-content h1 {
  margin: 0;
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .content-news-blog .title-content h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
  }
}

.content-news-blog .content-news-blog-one {
  position: relative;
}

.content-news-blog .content-news-blog-one .content-news-blog84 {
  cursor: pointer;
  padding-top: 50px;
}

.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-interface {
  overflow: hidden;
  padding: 0;
  border-radius: 5px 40px 5px;
  -webkit-box-shadow: 10px 11px 8px -6px #747474;
          box-shadow: 10px 11px 8px -6px #747474;
}

@media screen and (max-width: 768px) {
  .content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-interface {
    border-radius: 15px 120px 15px;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-interface {
    width: 100%;
  }
}

.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit {
  padding-bottom: 30px;
}

.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit a .title-news-item {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #86bc42;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
}

.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit a .title-news-item:hover,
.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit a .title-news-item:active,
.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit a .title-news-item:focus {
  color: #242c42;
}

.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit a:hover,
.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit a:active,
.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit a:focus {
  color: #242c42;
  text-decoration: none;
}

.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit .whow-up-content {
  width: 100%;
  height: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 20px;
}

.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit .Credit-content {
  font-weight: lighter;
  color: #6C6C6C;
  font-size: 10px;
  float: right;
  padding-top: 30px;
  border-bottom: 1px solid #6C6C6C;
}

.content-news-blog .content-news-blog-one .content-news-blog84 .content-news-blog-credit .Credit-content span {
  color: #86bc42;
}

.content-news-blog .content-news-blog-one .content-news-blog48 {
  padding-top: 30px;
  cursor: pointer;
}

.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-interface {
  overflow: hidden;
  padding: 0;
  border-radius: 40px 5px 40px;
  -webkit-box-shadow: 10px 11px 8px -6px #747474;
          box-shadow: 10px 11px 8px -6px #747474;
}

@media screen and (max-width: 768px) {
  .content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-interface {
    border-radius: 120px 15px 120px;
  }
}

@media screen and (max-width: 991px) {
  .content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-interface {
    width: 100%;
  }
}

.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit {
  padding-bottom: 30px;
}

.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit a .title-news-item {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #86bc42;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
}

.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit a .title-news-item:hover,
.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit a .title-news-item:active,
.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit a .title-news-item:focus {
  color: #242c42;
}

.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit a:hover,
.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit a:active,
.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit a:focus {
  color: #242c42;
  text-decoration: none;
}

.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit .whow-up-content {
  width: 100%;
  height: 165px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 20px;
}

.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit .Credit-content {
  font-weight: lighter;
  color: #6C6C6C;
  font-size: 10px;
  float: right;
  padding-top: 30px;
  border-bottom: 1px solid #6C6C6C;
}

.content-news-blog .content-news-blog-one .content-news-blog48 .content-news-blog-credit .Credit-content span {
  color: #86bc42;
}

@media screen and (max-width: 768px) {
  .content-news-blog .content-news-blog-one {
    padding: 0 15px;
  }
}

.picture-news-wrapper {
  padding-top: 50px;
}

.picture-news-wrapper .img-news-details {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 10px 11px 8px -6px #747474;
          box-shadow: 10px 11px 8px -6px #747474;
}

.title-news-details {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #86bc42;
  padding-bottom: 25px;
}

.story-news {
  cursor: pointer;
}

.story-news h3 {
  font-weight: bold;
  text-align: center;
  width: 20%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-style: outset;
  padding: 10px 20px;
  color: #242c42;
}

@media screen and (max-width: 992px) {
  .story-news h3 {
    font-size: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .story-news h3 {
    font-size: 15px;
  }
}

@media screen and (min-width: 520px) and (max-width: 700px) {
  .story-news h3 {
    width: 30%;
  }
}

@media screen and (max-width: 520px) {
  .story-news h3 {
    width: 40%;
  }
}

@media screen and (min-width: 320px) {
  .story-news h3 {
    padding: 10px;
    margin-bottom: 30px;
  }
}

