// Body
$body-bg: #f5f8fa;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
// Navbar
$navbar-default-bg: #fff;
// Buttons
$btn-default-color: $text-color;
// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
// Panels
$panel-default-heading-bg: #fff;
// Buttons
$btn-default: #00a63f;
$btn-width-small: 12rem;
$btn-width-medium: 17;
$btn-width-big: 32rem;
//color
$black: #000;
$dark: #272727;
$gray: #747474;
$orange: #ff652f;
$yellow: #ffe400;
$green: #00a63f;
$white: #ffffff;
//font
$font-small: .9rem;
$font-medium: 1.2rem;
$font-big: 1.8rem;
$font-bigger: 2.4rem;
$font-very-big: 3.6rem;
$font-mega-big: 4.8rem;
//font weight:
$font-thin: 100;
$font-fat: 700;
$font-bold: bold;
//
@import url('https://fonts.googleapis.com/css?family=Rubik');
$icon-size: 2.8rem;
$dark: #272727;
$gray: #747474;
$orange: #ff652f;
$yellow: #ffe400;
$green: #00a63f;
$white: #ffffff;
$dark-blue: #242c42;
$babana-green: #86bc42;
$font: 'Rubik',
sans-serif;
$font-Title-Blog-News: 'Trebuchet MS',
'Lucida Sans Unicode',
'Lucida Grande',
'Lucida Sans',
Arial,
sans-serif;
// .button-default {
//     background: $babana-green;
//     border: none;
//     box-shadow: inset 0px -11px 8px -10px $green;
//     &:hover {
//         background: $dark-blue;
//         box-shadow: inset 0px -11px 8px -10px $gray;
//     }
// }