@import '_variables';
body {
    color: $black;
}

img {
    width: 100%;
}

.fa.social-icon {
    font-size: 4.8rem;
    &.fa-youtube-play {
        color: red;
    }
    &.fa-facebook-square {
        color: #4267b2;
    }
}

.button-m {
    cursor: pointer;
    display: block;
    margin: 1rem auto;
    width: $btn-width-big;
    border-radius: .2rem;
    font-size: $font-big;
    font-weight: $font-fat;
    padding: 1.4rem 1.8rem;
    position: relative;
    text-align: center;
    transition: all .3s ease 0s;
    border-radius: .5rem;
    border: 2px solid $green;
}

.button-default {
    color: $white;
    background: $btn-default;
}

.button-custome {
    color: $green;
    background: $white;
}

//header
.list-categories-wrapper {
    background: $green;
    color: $white;
    padding: 0;
    .list-categories {
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow: auto;
        list-style-type: none;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        .Category-item {
            width: auto;
            margin: .9rem;
            overflow: visible;
            flex-grow: 1;
            flex-shrink: 0;
            display: block;
            flex-wrap: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            user-select: none;
            a {
                color: $white;
            }
        }
    }
}

//footer
.footer {
    background: $green;
    color: $white;
    .menuFooter {
        overflow: hidden;
        position: relative;
        padding: 8px 0;
        a {
            display: block;
            color: $white;
            text-align: center;
            padding: 4px 0;
            text-decoration: none;
            font-size: 14px;
            line-height: 16px;
            &:first-child {
                font-weight: $font-bold;
            }
            @media screen and (max-width: 970px) {
                text-align: left;
                &:not(:first-child) {
                    display: none;
                    padding-left: 15px;
                }
                &.icon {
                    float: right;
                    display: block;
                }
            }
        }
        .icon {
            display: none;
            @media screen and (max-width: 970px) {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        @media screen and (max-width: 970px) {
            &.responsive {
                a {
                    float: none;
                    display: block;
                    text-align: left;
                }
            }
        }
    }
    .left-copyright {
        text-align: left;
    }
    .right-social {
        text-align: right;
    }
}

//home
.title-home-wrapper {
    text-align: center;
    .title-home {
        font-size: $font-mega-big;
        font-weight: $font-bold;
        color: $black;
    }
}

//static pages
.banner-static-pages {
    background: $green;
    text-align: center;
    color: $white;
    font-weight: $font-bold;
    .title-static-page {}
    .desc-static-page {}
}

.button-static-pages {
    width: 100%;
    text-align: left;
}

.iframe-video {
    width: 50rem;
    height: 30rem;
}

//create campaign
.part_upload_youtube,
.part_upload_photo {
    display: none;
}

//my campaigns
.img-campaign-item {
    width: 100%;
    height: 25rem;
    .img_campaign,
    .embed-responsive {
        width: 100%;
        height: 100%;
    }
}

.campaign-item-bottom {
    .content-campaign-item {
        width: 100%;
        height: 3rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

//contact us
.page-contact-us input[type=text],
.page-contact-us select,
.page-contact-us textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.page-contact-us input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #45a049;
    }
}


/* Style the container/contact section */

.page-contact-us.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}


/* Create two columns that float next to eachother */

.page-contact-us .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats after the columns */

.page-contact-us .row {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .page-contact-us .column,
    .page-contact-us input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

@import 'template';
@import 'home';
@import 'my-profile';
@import 'static-pages';
@import 'news-blog';