// SLIDER - HERE
.home-page-layout {
    text-align: center;
    .home-slider {
        .wrapper-img {}
        .home-slider-discribe {
            background: rgba(36, 44, 66, .3);
            box-shadow: 0px 3px 15px 1px $white;
            border-radius: 10px;
            width: 40%;
            bottom: 12%;
            left: 10%;
            position: absolute;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                width: 55%;
                bottom: 1%;
                left: 25%;
                background: rgba(36, 44, 66, .6);
            }
            @media screen and (min-width: 480px) and (max-width: 580px) {
                bottom: 2%;
                width: 50%;
                left: 28%;
            }
            @media screen and (min-width: 580px) and (max-width: 680px) {
                width: 50%;
                bottom: 2%;
                left: 28%;
            }
            @media screen and (min-width: 680px) and (max-width: 768px) {
                width: 50%;
                bottom: 2%;
                left: 28%;
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
                width: 35%;
                bottom: 3%;
            }
            @media screen and (min-width: 992px) and (max-width: 1280px) {
                bottom: 3%;
            }
            @media screen and (min-width: 1280px) {
                width: 40%;
                bottom: 4%;
                left: 10%;
            }
            .desc-trust-title {
                font-size: 25px;
                padding-top: 30px;
                font-weight: bold;
            }
            .title-home-wrapper {
                padding: 60px 20px 30px 20px;
                @media screen and (min-width: 320px) and (max-width: 768px) {
                    padding: 0;
                }
                // @media screen and (min-width: 480px) and (max-width: 580px) {
                //     padding: 0;
                // }
                // @media screen and (min-width: 580px) and (max-width: 680px) {
                //     padding: 0;
                // }
                // @media screen and (min-width: 680px) and (max-width: 768px) {}
                @media screen and (min-width: 768px) and (max-width: 992px) {
                    padding: 0;
                }
                @media screen and (min-width: 992px) and (max-width: 1280px) {
                    padding: 0;
                }
                @media screen and (min-width: 1280px) {
                    padding: 60px 20px 30px 20px;
                }
                .title-home {
                    color: $white;
                    margin: 10px 0;
                    @media screen and (min-width: 320px) and (max-width: 480px) {
                        font-size: 13px;
                    }
                    @media screen and (min-width: 480px) and (max-width: 580px) {
                        font-size: 15px;
                    }
                    @media screen and (min-width: 580px) and (max-width: 680px) {
                        font-size: 20px;
                    }
                    @media screen and (min-width: 680px) and (max-width: 768px) {
                        font-size: 28px;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        font-size: 26px;
                    }
                    @media screen and (min-width: 992px) and (max-width: 1280px) {
                        font-size: 32px;
                    }
                    @media screen and (min-width: 1280px) {
                        font-size: 40px;
                    }
                    // @media screen and (min-width: 992px) {
                    //     font-size: 37px;
                    // }
                }
                .btn-custome-startfun {
                    background: $babana-green;
                    border: none;
                    box-shadow: inset 0px -11px 8px -10px $green;
                    @media screen and (min-width: 320px) and (max-width: 480px) {
                        font-size: 7px;
                        padding: 5px 10px;
                        width: 15rem;
                        margin: 4px auto;
                        border: 2px solid $white;
                    }
                    @media screen and (min-width: 480px) and (max-width: 768px) {
                        font-size: 10px;
                        padding: 7px 10px;
                        width: 18rem;
                        border: 2px solid $white;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        width: 18rem;
                        font-size: 10px;
                        padding: 8px;
                        border: 2px solid $white;
                    }
                    &:hover {
                        color: $babana-green;
                        text-decoration: none;
                        background: $dark-blue;
                        box-shadow: inset 0px -11px 8px -10px $gray;
                    }
                }
                .btn-custome-howitwork {
                    border: 2px solid $babana-green;
                    background: $white;
                    color: $babana-green;
                    @media screen and (min-width: 320px) and (max-width: 480px) {
                        font-size: 7px;
                        padding: 5px 10px;
                        width: 15rem;
                        margin: 4px auto;
                    }
                    @media screen and (min-width: 480px) and (max-width: 768px) {
                        font-size: 10px;
                        padding: 7px 10px;
                        width: 18rem;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        width: 18rem;
                        font-size: 10px;
                        padding: 8px;
                    }
                    &:hover,
                    &:active {
                        background: $dark-blue;
                        border: 2px solid $white;
                        text-decoration: none;
                        color: $white;
                    }
                }
                @media screen and (min-width: 480px) and (max-width: 768px) {}
            }
        }
        .carousel-inner {
            position: relative;
            // height: 630px;
            .item {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            @media screen and (min-width: 320px) and (max-width: 480px) {}
        }
        .carousel-control {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 15px;
            padding-top: 25px;
            .fa-chevron-left {
                height: 60px;
                width: 20px;
            }
            .fa-chevron-right {
                height: 60px;
                width: 20px;
                right: 0;
                left: auto;
                position: absolute;
            }
        }
    }
    .icon-categroies {
        cursor: pointer;
        @media screen and (min-width: 320px) and (max-width: 480px) {}
        .icon-categroies-point {
            h2 {
                padding: 10px 0;
                text-transform: uppercase;
                text-align: center;
                color: $babana-green;
                font-size: 28px;
                font-weight: bold;
                @media screen and (min-width: 320px) and (max-width: 480px) {
                    font-size: 13px;
                }
            }
            i {
                transform: rotate(90deg)
            }
        }
        .icon-categroies-details {
            padding: 60px 0;
            position: relative;
            display: flex;
            justify-content: space-around;
            .mini-watch {
                &:hover {
                    text-decoration: none;
                }
                h4 {
                    color: $babana-green;
                    padding: 35px 0;
                    &:hover,
                     :active {
                        color: $dark-blue;
                    }
                    @media screen and (min-width: 992px) and (max-width: 1280px) {
                        font-size: 15px;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        font-size: 12px;
                        padding: 20px 0;
                    }
                    @media screen and (min-width: 667px) and (max-width: 768px) {
                        font-size: 10px;
                        padding: 18px 0;
                    }
                    @media screen and (min-width: 480px) and (max-width: 667px) {
                        font-size: 9px;
                        padding: 18px 0;
                    }
                    @media screen and (min-width: 320px) and (max-width: 480px) {
                        font-size: 4px;
                        padding: 5px 0;
                    }
                }
                .icon-cat {
                    background: rgba(36, 44, 66, 1);
                    border: 2px solid $babana-green;
                    box-shadow: 0px 11px 8px -6px $gray;
                    width: 100px;
                    height: 100px;
                    border-radius: 5px 40px 5px;
                    &:hover,
                     :active {
                        background: $white;
                        transform: rotate(45deg);
                        transition-duration: 2s;
                    }
                    @media screen and (min-width: 320px) and (max-width: 480px) {
                        width: 30px;
                        height: 30px;
                        border-radius: 0 12px 0;
                    }
                    @media screen and (min-width: 480px) and (max-width: 667px) {
                        width: 50px;
                        height: 50px;
                        border-radius: 0 15px 0;
                    }
                    @media screen and (min-width: 667px) and (max-width: 768px) {
                        width: 55px;
                        height: 55px;
                        border-radius: 0 15px 0;
                    }
                    @media screen and (min-width: 768px) and (max-width: 992px) {
                        width: 65px;
                        height: 65px;
                        border-radius: 5px 20px 5px;
                    }
                    @media screen and (min-width: 992px) and (max-width: 1280px) {
                        width: 85px;
                        height: 85px;
                        border-radius: 5px 30px 5px;
                    }
                    img {
                        margin-top: 20px;
                        width: 50px;
                        height: 50px;
                        @media screen and (min-width: 320px) and (max-width: 480px) {
                            width: 15px;
                            height: 15px;
                            margin-top: 2px;
                        }
                        @media screen and (min-width: 480px) and (max-width: 667px) {
                            width: 20px;
                            height: 20px;
                            margin-top: 14px;
                        }
                        @media screen and (min-width: 667px) and (max-width: 768px) {
                            width: 30px;
                            height: 30px;
                            margin-top: 10px;
                        }
                        @media screen and (min-width: 768px) and (max-width: 992px) {
                            margin-top: 15px;
                            width: 35px;
                            height: 35px;
                        }
                    }
                }
            }
            @media screen and (min-width: 320px) and (max-width: 480px) {
                padding: 20px 0;
            }
            @media screen and (min-width: 480px) and (max-width: 992px) {
                // display: flex;
                // flex-wrap: wrap;
            }
        }
    }
    .trust-my-company {
        h1 {
            font-weight: bold;
            font-size: 40px;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                font-size: 18px;
            }
        }
        .litle-trust-child {
            margin-top: -15px;
            font-size: 24px;
            margin-bottom: 90px;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                font-size: 13px;
                margin-bottom: 30px;
            }
        }
        .desc-trust-title {
            font-size: 18px;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                font-size: 15px;
            }
        }
        .desc-trust-desc {
            font-size: 18px;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                font-size: 10px;
            }
        }
        .expand {
            color: $babana-green;
            font-weight: bold;
            &:hover {
                text-decoration: none;
                color: $dark-blue;
            }
            @media screen and (min-width: 320px) and (max-width: 480px) {
                font-size: 8px;
            }
        }
    }
}

//END- SLIDER - HERE