//MY-PROFILE
.content-page-my-account {
    height: 100%;
    .banner-static-pages {
        position: relative;
        margin: 25px auto;
        background: $dark-blue;
        border-top: 2px solid rgba(255, 255, 255, .5);
        // border-right: 2px solid rgba(255, 255, 255, .5);
        // border-bottom: 2px solid rgba(255, 255, 255, .5);
        width: 100%;
        border-radius: 5px;
        color: $white;
    }
    .name_profile {
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 10px;
        color: $white;
    }
    .profile_user_avatar {
        padding: 25px;
        img {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            margin: 0 38%;
        }
    }
    .avatar_upload_wrapper {
        padding-top: 30px;
        .upload-avatar {
            display: none;
        }
        label {
            width: 100px;
            height: 100px;
            cursor: pointer;
            position: absolute;
            margin: 0 34%;
            z-index: 1;
            display: block;
            text-align: center;
            &:hover {
                width: 100px;
                height: 100px;
                background-color: rgba(0, 0, 0, .5);
                z-index: 10000;
                border-radius: 10%;
                color: #fff;
                transition: all .3s ease;
                text-decoration: none;
            }
        }
        @media screen and (max-width: 992px) {
            text-align: center;
            padding: 0;
        }
    }
    .profile_user {
        width: 100%;
        background: $dark-blue;
        border-top: 2px solid rgba(255, 255, 255, .5);
        border-bottom: 2px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        position: relative;
        margin-bottom: 20px;
        padding: 25px;
        .formControlProfile {
            background: transparent;
            color: $gray;
            border: 1px solid $gray;
            border-radius: 5px;
            margin-top: 2%;
            @media screen and (max-width: 992px) {
                text-align: center;
            }
        }
        label {
            color: $white;
            font-weight: bold;
        }
    }
    .button-m {
        font-size: $font-medium;
    }
    .button-default {
        width: 100px;
        height: 40px;
        padding: 8px 2px;
        float: left;
        margin: 5% 50%;
        background: $babana-green;
        border: none;
        box-shadow: inset 0px -11px 8px -10px $green;
        @media screen and (max-width: 992px) {
            margin: 0 auto;
            height: 100%;
            width: 50%;
            float: none;
        }
    }
}

//END - MY-PROFILE