@import '_variables';
// NEWS + BLOGS
.news-blog {
    background: url(https://cdn-images-1.medium.com/max/2000/1*fTyX1Qc-MNv5XdNVAvUrlQ.png);
    position: relative;
    border-radius: 0;
    background-position: 50% 2% !important;
    cursor: pointer;
    .title-desc {
        margin: 0 auto;
        background-color: rgba(36, 44, 66, 0.3);
        width: 60%;
        border-radius: 5px;
    }
    .title-static-page {
        text-transform: uppercase;
        font-family: $font-Title-Blog-News;
        p {
            margin: 0;
        }
    }
}

.content-news-blog {
    padding-top: 30px;
    .title-content {
        font-family: $font-Title-Blog-News;
        font-size: 10px;
        color: #6C6C6C;
        h1 {
            margin: 0;
            font-size: 60px;
            @media screen and (max-width: 768px) {
                text-align: center;
                font-size: 36px;
                font-weight: bold;
            }
        }
    }
    .content-news-blog-one {
        position: relative;
        .content-news-blog84 {
            cursor: pointer;
            padding-top: 50px;
            .content-news-blog-interface {
                overflow: hidden;
                padding: 0;
                border-radius: 5px 40px 5px;
                box-shadow: 10px 11px 8px -6px $gray;
                @media screen and (max-width: 768px) {
                    border-radius: 15px 120px 15px;
                    width: 100%;
                }
                @media screen and (max-width: 991px) {
                    width: 100%;
                }
            }
            .content-news-blog-credit {
                padding-bottom: 30px;
                a {
                    .title-news-item {
                        font-family: $font-Title-Blog-News;
                        font-size: 26px;
                        text-transform: uppercase;
                        color: $babana-green;
                        text-align: center;
                        font-weight: bold;
                        padding-top: 5px;
                        &:hover,
                        &:active,
                        &:focus {
                            color: $dark-blue;
                        }
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        color: $dark-blue;
                        text-decoration: none;
                    }
                }
                .whow-up-content {
                    width: 100%;
                    height: 165px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-top: 20px;
                }
                .Credit-content {
                    font-weight: lighter;
                    color: #6C6C6C;
                    font-size: 10px;
                    float: right;
                    padding-top: 30px;
                    border-bottom: 1px solid #6C6C6C;
                    span {
                        color: $babana-green;
                    }
                }
            }
        }
        .content-news-blog48 {
            padding-top: 30px;
            cursor: pointer;
            .content-news-blog-interface {
                overflow: hidden;
                padding: 0;
                border-radius: 40px 5px 40px;
                box-shadow: 10px 11px 8px -6px $gray;
                @media screen and (max-width: 768px) {
                    border-radius: 120px 15px 120px;
                }
                @media screen and (max-width: 991px) {
                    width: 100%;
                }
            }
            .content-news-blog-credit {
                padding-bottom: 30px;
                a {
                    .title-news-item {
                        font-family: $font-Title-Blog-News;
                        font-size: 26px;
                        text-transform: uppercase;
                        color: $babana-green;
                        text-align: center;
                        font-weight: bold;
                        padding-top: 5px;
                        &:hover,
                        &:active,
                        &:focus {
                            color: $dark-blue;
                        }
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        color: $dark-blue;
                        text-decoration: none;
                    }
                }
                .whow-up-content {
                    width: 100%;
                    height: 165px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-top: 20px;
                }
                .Credit-content {
                    font-weight: lighter;
                    color: #6C6C6C;
                    font-size: 10px;
                    float: right;
                    padding-top: 30px;
                    border-bottom: 1px solid #6C6C6C;
                    span {
                        color: $babana-green;
                    }
                }
            }
        }
        @media screen and (max-width:768px) {
            padding: 0 15px;
        }
    }
}

//Blog- details
.picture-news-wrapper {
    padding-top: 50px;
    .img-news-details {
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        box-shadow: 10px 11px 8px -6px $gray;
    }
}

.title-news-details {
    text-align: center;
    font-family: $font-Title-Blog-News;
    text-transform: uppercase;
    color: $babana-green;
    padding-bottom: 25px;
}

.story-news {
    cursor: pointer;
    h3 {
        font-weight: bold;
        text-align: center;
        width: 20%;
        font-family: $font-Title-Blog-News;
        border-style: outset;
        padding: 10px 20px;
        color: $dark-blue;
        @media screen and (max-width: 992px) {
            font-size: 15px;
        }
        @media screen and (min-width: 480px) and (max-width: 768px) {
            font-size: 15px;
        }
        @media screen and (min-width: 520px) and (max-width: 700px) {
            width: 30%;
        }
        @media screen and (max-width: 520px) {
            width: 40%;
        }
        @media screen and (min-width: 320px) {
            padding: 10px;
            margin-bottom: 30px;
        }
    }
}

//END - NEWS + BLOGS