// BANNER-FIX - ALL PAGE
.content-about-us {
    margin-top: 20px;
}

.banner-static-pages {
    position: relative;
    margin: 25px auto;
    background: $dark-blue;
    border-top: 2px solid rgba(255, 255, 255, .5);
    // border-right: 2px solid rgba(255, 255, 255, .5);
    // border-bottom: 2px solid rgba(255, 255, 255, .5);
    width: 100%;
    border-radius: 5px;
    color: $white;
}

// END - BANNER-FIX - ALL PAGE
//CATEGORIES
//categories
.categories-content-wrapper {
    text-align: justify;
    margin-top: 30px;
    font-size: 18px;
    .top-categories {
        .page-category-banner-top {
            h2 {
                font-size: 40px;
                text-align: center;
                font-weight: bold;
                color: $babana-green;
                padding-bottom: 15px;
                margin: 0;
                @media screen and (min-width: 992px) and (max-width: 1200px) {
                    font-size: 32px;
                    padding-bottom: 10px;
                }
                @media screen and (max-width: 992px) {
                    margin-top: 10px;
                }
            }
            p {
                text-align: center;
                @media screen and (min-width: 992px) and (max-width: 1200px) {
                    font-size: 16px;
                }
            }
            a {
                margin-top: 12%;
                margin-bottom: 15%;
                position: absolute;
                &:hover {
                    text-decoration: none;
                    color: $babana-green;
                }
                @media screen and (min-width: 992px) and (max-width: 1200px) {
                    margin-top: 18%;
                }
                @media screen and (max-width: 992px) {
                    margin: 0 auto;
                    position: relative;
                }
            }
        }
        .button-default {
            background: $babana-green;
            border: none;
            box-shadow: inset 0px -11px 8px -10px $green;
            &:hover {
                background: $dark-blue;
                box-shadow: inset 0px -11px 8px -10px $gray;
            }
        }
        .page-category-slider-top {
            .home-slider {
                .picture-wrapper {
                    height: 400px;
                    .item {
                        overflow: hidden;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    @media screen and (max-width: 700px) {
                        height: auto;
                    }
                }
                .carousel-control {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 15px;
                    .fa-chevron-left {
                        background-color: rgba(0, 0, 0, .5);
                        padding-top: 25px;
                        height: 60px;
                        width: 20px;
                    }
                    .fa-chevron-right {
                        background-color: rgba(0, 0, 0, .5);
                        padding-top: 25px;
                        height: 60px;
                        width: 20px;
                        right: 0;
                        left: auto;
                        position: absolute;
                    }
                }
            }
        }
    }
    .bottom-categories {
        .content-category {
            text-align: justify;
            padding: 50px 10px;
            padding-bottom: 35px;
            ul {
                list-style: none;
            }
            h3,
            h2 {
                font-size: 30px;
                font-weight: bold;
                text-align: center;
                padding: 30px 0;
            }
        }
        .content-list-campaign {
            h1 {
                font-size: 24px;
                font-weight: bold;
                padding: 10px;
            }
            @media screen and (max-width: 580px) {
                display: flex;
                flex-direction: column;
            }
            .campaign-item {
                background: rgba(128, 128, 128, .1);
                border-radius: 5px;
                padding: 15px;
                text-align: center;
                height: 360px;
                margin-bottom: 30px;
                @media screen and (max-width: 580px) {
                    width: 100%;
                    height: 400px;
                }
                .img-campaign-item {
                    width: 100%;
                    height: 250px;
                    .img_campaign {
                        height: 100%;
                        border-bottom: 26px solid $babana-green;
                        overflow: hidden;
                    }
                }
                .target-campaign-item {
                    position: absolute;
                    top: 60%;
                    left: 5%;
                    color: $white;
                    @media screen and (max-width: 580px) {
                        top: 55%;
                        left: 40%;
                    }
                }
                .campaign-item-bottom {
                    background: rgba(128, 128, 128, .5);
                    border-radius: 5px;
                    .title-campaign-item {
                        text-transform: uppercase;
                        font-weight: bold;
                        color: $white;
                        padding: 10px 0;
                    }
                }
            }
        }
    }
}

//how-to-work
.content-howtowork {
    .myvideo {
        position: relative;
        .video-content {
            .text-center {
                .video-howitwork {
                    height: 500px;
                    width: 100%;
                }
            }
        }
        .btn-howitwork {
            margin: 0 auto;
        }
    }
    .btn-start-campain {
        background: $babana-green;
        border: none;
        box-shadow: inset 0px -11px 8px -10px $green;
        &:hover {
            background: $dark-blue;
            box-shadow: inset 0px -11px 8px -10px $gray;
        }
    }
    .how-it-work-content {
        cursor: pointer;
        margin-top: 100px;
        padding: 0 30px;
        .step1 {
            .button-static-pages {
                background: $babana-green;
                width: 150px;
                height: 150px;
                border-radius: 5px 40px 5px;
                border: 2px solid $white;
                box-shadow: 0px 11px 8px -6px $gray;
                &:hover {
                    background: $dark-blue;
                    transform: rotate(45deg);
                    transition-duration: 2s;
                }
                @media screen and (min-width: 320px) and (max-width: 530px) {
                    width: 150px;
                    height: 125px;
                    margin: 0 auto;
                }
                i {
                    font-size: 24px;
                    color: $white;
                    padding-left: 30px;
                    transform: rotate(90deg);
                }
                h1 {
                    text-align: center;
                    color: $white;
                }
            }
        }
        .step2 {
            padding-left: 100px;
            padding-top: 20px;
            .button-static-pages {
                background: $babana-green;
                width: 150px;
                height: 150px;
                border-radius: 5px 40px 5px;
                border: 2px solid $white;
                box-shadow: 0px 11px 8px -6px $gray;
                &:hover {
                    background: $dark-blue;
                    transform: rotate(45deg);
                    transition-duration: 2s;
                }
                i {
                    font-size: 24px;
                    color: $white;
                    padding-left: 30px;
                    transform: rotate(90deg);
                }
                h1 {
                    text-align: center;
                    color: $white;
                }
                @media screen and (min-width: 320px) and (max-width: 530px) {
                    width: 150px;
                    height: 125px;
                    margin: 0 auto;
                }
            }
            @media screen and (min-width: 320px) and (max-width: 530px) {
                padding-left: 10px;
            }
        }
        .step3 {
            padding-left: 200px;
            padding-top: 20px;
            .button-static-pages {
                background: $babana-green;
                width: 150px;
                height: 150px;
                border-radius: 5px 40px 5px;
                border: 2px solid $white;
                box-shadow: 0px 11px 8px -6px $gray;
                &:hover {
                    background: $dark-blue;
                    transform: rotate(45deg);
                    transition-duration: 2s;
                }
                i {
                    font-size: 24px;
                    color: $white;
                    padding-left: 30px;
                    transform: rotate(90deg);
                }
                h1 {
                    text-align: center;
                    color: $white;
                }
                @media screen and (min-width: 320px) and (max-width: 530px) {
                    width: 150px;
                    height: 125px;
                    margin: 0 auto;
                }
            }
            @media screen and (min-width: 320px) and (max-width: 530px) {
                padding-left: 25px;
            }
        }
        .step4 {
            padding-left: 300px;
            padding-top: 20px;
            .button-static-pages {
                background: $babana-green;
                width: 150px;
                height: 150px;
                border-radius: 5px 40px 5px;
                border: 2px solid $white;
                box-shadow: 0px 11px 8px -6px $gray;
                &:hover {
                    background: $dark-blue;
                    transform: rotate(45deg);
                    transition-duration: 2s;
                }
                i {
                    font-size: 24px;
                    color: $white;
                    padding-left: 30px;
                    transform: rotate(90deg);
                }
                h1 {
                    text-align: center;
                    color: $white;
                }
                @media screen and (min-width: 320px) and (max-width: 530px) {
                    width: 150px;
                    height: 125px;
                    margin: 0 auto;
                }
            }
            @media screen and (min-width: 320px) and (max-width: 530px) {
                padding-left: 25px;
            }
        }
    }
}

.control-campain {
    .title-campain {
        font-weight: bold;
        background: $babana-green;
        width: 30%;
        color: $white;
        border-radius: 10px;
        h1 {
            text-align: center;
        }
    }
    .little-title-campain {
        font-size: 16px;
        padding-left: 45px;
        padding-bottom: 50px;
    }
}

//about-us
.about-us {
    .about-us-img {
        margin: 10px;
    }
    .content-about-us {
        padding-top: 30px;
        text-align: justify;
        font-size: 18px;
    }
    .fa-hand-o-right {
        font-size: 40px;
        padding-bottom: 30px;
    }
}

//term
.term-content {
    text-align: justify;
    .btn-term {
        background: $dark-blue;
        border: none;
        color: $white;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .button-default {
        padding: 0;
    }
}

// legal
.legal-content-overview {
    text-align: justify;
    .btn-term {
        background: $dark-blue;
        border: none;
        color: $white;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .button-default {
        padding: 0;
    }
}

//hirring
.hirring-content {
    text-align: justify;
    min-height: 350px;
    .btn-term {
        background: $dark-blue;
        border: none;
        color: $white;
        text-align: center;
        width: 50%;
    }
    .button-default {
        padding: 0;
    }
}

//fees-content
.fees-content {
    min-height: 350px;
}

// //login
// .reset-pass {
//     reset-password-re {
//         .btn-primary {
//             background: $dark-blue;
//         }
//     }
// }
//contact-us
.page-contact-us {
    .right-contact {
        color: $white;
        background: $dark-blue;
        border-top: 2px solid rgba(255, 255, 255, .5);
        border-bottom: 2px solid rgba(255, 255, 255, .5);
        border-radius: 10px;
        .btn-contact-us {
            margin-left: 30%;
            @media screen and (max-width: 992px) {
                margin: 0;
            }
            .form-control {
                box-shadow: inset 0px -11px 8px -10px $green;
                background: $babana-green;
                padding: 8px 20px;
            }
        }
    }
}

//privacy
.privacy-content {
    text-align: justify;
    .btn-term {
        background: $dark-blue;
        border: none;
        color: $white;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .button-default {
        padding: 0;
    }
}