body {
    font-family: Arial, Helvetica, sans-serif;
}

//header
.overview {
    .jumbotron {
        margin: 0 auto;
    }
    .navbar-default {
        border: none;
        margin: 0 auto;
        background: $dark-blue;
        .navbar-brand {
            padding: 6px 15px;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                width: 120px;
                padding: 10px 0;
            }
            @media screen and (min-width: 480px) and (max-width: 768px) {
                width: 160px;
            }
            @media screen and (min-width: 768px) and (max-width: 992px) {
                width: 190px;
            }
            @media screen and (min-width: 992px) and (max-width: 1200px) {
                width: 190px;
            }
        }
    }
    .navbar-header {
        @media screen and (min-width: 320px) and (max-width: 480px) {
            button {
                padding: 3px 4px;
                margin-top: 14px;
                margin-right: 4px;
            }
        }
    }
    .navbar-right {
        li {
            &:hover {
                background: $white;
                transition: .5s ease-in-out;
                color: $babana-green;
            }
        }
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
        }
        @media screen and (min-width: 320px) and (max-width: 480px) {
            text-align: center;
            font-size: 10px;
            li {
                a {
                    padding: 0;
                    &:hover,
                    &:active,
                    &:focus {
                        width: 50%;
                        margin: 0 auto;
                    }
                }
            }
        }
        @media screen and (min-width: 480px) and (max-width: 768px) {
            text-align: center;
            font-size: 12px;
            li {
                a {
                    padding: 0;
                    &:hover,
                    &:active,
                    &:focus {
                        width: 50%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .list-categories-wrapper {
        margin: 0;
        background: $white;
        .list-categories {
            &::scrollbar-track {
                box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
                background-color: #F5F5F5;
                border-radius: 10px;
            }
            &::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
                height: 2px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: $dark-blue;
                @media screen and (min-width: 320px) and (max-width: 480px) {
                    background-color: $gray;
                    opacity: .3;
                    &:active {
                        background-color: $dark-blue;
                    }
                }
            }
            .Category-item {
                margin: 0;
                padding: .9rem;
                a {
                    color: $babana-green;
                    font-family: $font;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                &:hover,
                 :active {
                    background: $dark-blue;
                    transition: .5s ease-in-out;
                    text-align: center;
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                }
            }
            @media screen and (min-width: 320px) and (max-width: 480px) {
                font-size: 10px;
            }
            @media screen and (min-width: 480px) and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    //Searching Bar
    .form-search-template-wrapper {
        margin-top: 13px;
        height: 25px;
        width: 100%;
        border-radius: 10px;
        input {
            width: 80%;
            height: 100%;
            padding: 10px 5px;
            float: left;
            background: #eee;
            -moz-border-radius: 3px 0 0 3px;
            -webkit-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
            &:focus {
                outline: 0;
                background: #fff;
                -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
                -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
                box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
            }
            &::placeholder {
                color: #999;
                font-weight: normal;
                font-style: italic;
            }
        }
        button {
            overflow: visible;
            position: relative;
            float: right;
            border: 0;
            padding: 0;
            cursor: pointer;
            height: 100%;
            width: 20%;
            font-size: 12px;
            color: #fff;
            background: $babana-green;
            -moz-border-radius: 0 3px 3px 0;
            -webkit-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
            &:hover {
                background: red;
                ;
                &:before {
                    border-right-color: red;
                }
            }
            &:active,
            &:focus {
                background: #c42f2f;
            }
            &:before {
                content: '';
                position: absolute;
                border-width: 8px 8px 8px 0;
                border-style: solid solid solid none;
                border-color: transparent $babana-green transparent;
                top: 3px;
                left: -6px;
            }
            &:focus:before {
                border-right-color: #c42f2f;
            }
            &::-moz-focus-inner {
                border: 0;
                padding: 0;
            }
        }
        @media screen and (min-width: 992px) and(max-width: 1200px) {
            float: right;
            width: 80%;
        }
    }
    //CAMPAIN - ALL   
    //search-campain-content
    .search-campain-content {
        margin-bottom: 30px;
        .campaign-item {
            margin: 30px 45px;
        }
        .img-campaign-item {
            .img_campaign {
                border-radius: 10px;
            }
        }
        .campaign-item-bottom {
            .title-campaign-item {
                background: $babana-green;
                color: $dark-blue;
                font-weight: bold;
                text-align: center;
                width: 70%;
                height: 40px;
                border-radius: 10px;
                .campaign-item-bottom {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
}

//campain-detail
.campaign-left {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    min-height: 1000px;
    box-shadow: 1px 1px 3px #41313C;
    padding: 0;
    border-radius: 10px;
    .btn-sharing {
        width: 30%;
        margin-left: 15px;
    }
    .picture-campaign-wrapper {
        height: 430px;
        width: 800px;
        overflow: hidden;
        padding: 0;
        // border-radius: 10px;
        img {
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 992px) {
            width: 100%;
            height: auto;
        }
    }
    .title-campaign {
        h3 {
            text-align: center;
            text-transform: uppercase;
        }
    }
    .share-campaign {
        display: flex;
        justify-content: space-evenly;
        margin: 15px 0;
        .facebook {
            padding: 5px 16px;
            background: #3A569B;
            width: 300px;
            i {
                margin-right: 30px;
            }
        }
        .twitter {
            width: 300px;
            padding: 5px 16px;
            i {
                margin-right: 30px;
            }
        }
    }
    .story-campaign {
        margin: 0 15px;
        text-align: justify;
        h3 {
            font-family: $font-Title-Blog-News;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            color: $babana-green;
        }
        p {
            margin-top: 30px;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 30px 0;
        }
        .dotted-line {
            margin: 0;
            background: 0 0;
            border-bottom: 1px dotted #cacaca;
        }
    }
    .title-campaign {
        margin: 0 15px;
        color: #4B4B4B;
        .dotted-line {
            background: 0 0;
            border-bottom: 1px dotted #cacaca;
        }
    }
    .dotted-line {
        margin: 0 15px;
        background: 0 0;
        border-bottom: 1px dotted #cacaca;
    }
}

.campaign-right {
    margin-top: 10px;
    margin-left: 30px;
    // height: 300px;
    box-shadow: 1px 1px 3px #41313C;
    padding: 0;
    border-radius: 10px;
    width: 30%;
    @media screen and (max-width: 992px) {
        width: 100%;
        height: auto;
        margin: 10px auto;
    }
    .progress {
        height: 20px;
        width: 90%;
        margin: 15px auto;
    }
    .money-campaign {
        margin: 0 30px;
        font-size: 30px;
    }
    .producer-campaign {
        color: #666;
        margin: 0 30px;
        font-weight: 100;
    }
    // .fb-share-button {
    //     margin: 30px 45%;
    // }
    .share-campaign-right {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        .facebook {
            margin: 15px 0;
            background: #3A569B;
            i {
                margin-right: 30px;
            }
        }
        .twitter {
            margin: 0 0 15px 0;
            i {
                margin-right: 30px;
            }
        }
    }
}

//create-campain
.banner-static-pages {
    padding: 0 0 10px 0;
    .title-static-page {
        margin-top: 15px;
    }
    .desc-static-page {
        margin: 15px 0;
    }
}

.create-campain {
    border-top: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    top: 30%;
    background: $dark-blue;
    color: $white;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    .campain-submit-ctrl {
        width: 20%;
        margin: 2% 40%;
        .button-default {
            background: $babana-green;
            font-size: 22px;
            height: 40px;
            padding: 0;
            border: none;
            box-shadow: inset 0px -11px 8px -10px $green;
            &:hover {
                background: $dark-blue;
                border: 2px solid $white;
                box-shadow: inset 0px -11px 8px -10px $gray;
            }
        }
    }
}

//Footer
.footer {
    margin-top: 96px;
    background: $dark-blue;
    @media screen and (min-width: 320px) and (max-width: 480px) {
        margin-top: 30px;
    }
    .menuFooter {
        margin-bottom: 30px;
        li {
            list-style-type: none;
            color: $babana-green;
        }
        .Leader {
            margin-top: 10px;
            margin-bottom: 30px;
            color: $babana-green;
            font-weight: bold;
            font-size: 20px;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                margin-bottom: 4px;
                font-size: 17px;
            }
            @media screen and (min-width: 480px) and (max-width: 580px) {
                font-size: 18px;
            }
            @media screen and (min-width: 580px) and (max-width: 768px) {
                font-size: 19px;
            }
            @media screen and (min-width: 480px) and (max-width: 768px) {
                margin-bottom: 5px;
            }
        }
        .fa-angle-right {
            width: 15px;
            color: $babana-green;
            font-weight: bold;
            &:hover {
                color: $white;
            }
        }
        a {
            text-align: left;
            &:hover {
                color: $babana-green;
            }
            @media screen and (min-width: 320px) and (max-width: 480px) {
                font-size: 11px;
            }
            @media screen and (min-width: 480px) and (max-width: 580px) {
                font-size: 12px;
            }
            @media screen and (min-width: 580px) and (max-width: 768px) {
                font-size: 14px;
            }
        }
        .get-started,
        .footer-introduction {
            margin-left: 33%;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                margin-left: 30%;
            }
        }
        .tio-categories,
        .get-support {
            margin-left: 33%;
            @media screen and (min-width: 320px) and (max-width: 480px) {
                margin-bottom: 0;
            }
        }
        @media screen and (min-width: 320px) and (max-width: 768px) {
            margin-bottom: 0;
        }
    }
    .fa.social-icon {
        background: #3b4757;
        width: 25px;
        height: 25px;
        border-radius: 10px;
        font-size: inherit;
        color: $white;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 10px;
        line-height: 30px;
        border-radius: 3px;
        display: inline-block;
        transition: all .3s ease-in;
        &:hover {
            background: $babana-green;
            color: $white;
        }
        @media screen and (min-width: 320px) and (max-width: 480px) {
            width: 15px;
            height: 15px;
            font-size: 8px;
            line-height: 15px;
            margin-left: 0;
        }
    }
    .right-social {
        text-align: right;
    }
    .footer_hr {
        padding-top: 5px;
        border-top: 1px solid $gray;
        .left-copyright-content {
            padding: 0 8px;
            .left-copyright {
                color: $white;
                font-style: italic;
                @media screen and (min-width: 320px) and (max-width: 380px) {
                    font-size: 8px;
                }
                @media screen and (min-width: 380px) and (max-width: 440px) {
                    font-size: 9px;
                }
                @media screen and (min-width: 440px) and (max-width: 480px) {
                    font-size: 10px;
                }
                @media screen and (min-width: 480px) and (max-width: 580px) {
                    font-size: 11px;
                }
                @media screen and (min-width: 580px) and (max-width: 768px) {
                    font-size: 13px;
                }
                @media screen and (min-width: 480px) and (max-width: 768px) {}
                &:hover {
                    color: $babana-green;
                    text-decoration: none;
                }
            }
            span {
                font-size: 16px;
                @media screen and (min-width: 320px) and (max-width: 440px) {
                    font-size: 10px;
                }
                @media screen and (min-width: 440px) and (max-width: 480px) {
                    font-size: 12px;
                }
                @media screen and (min-width: 480px) and (max-width: 580px) {
                    font-size: 13px;
                }
                @media screen and (min-width: 580px) and (max-width: 768px) {
                    font-size: 15px;
                }
            }
        }
    }
}