/* create campaign */

.part_upload_youtube,
.part_upload_photo {
    display: none;
}


/* my campaigns */

.img-campaign-item .img_campaign {
    width: 100%;
    height: 100%;
}


/* Tai */


/* login-form-regedit */

.page-header-fixed {
    background: url(https://i.pinimg.com/originals/de/07/95/de0795988ef2c6aa4abd85e9a066f62e.jpg);
    /* background: url("../public/uploads/underground/user_profile.jpg") */
}

.login-form {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 auto;
    width: 75%;
}

.login-form .panel-background {
    font-weight: bold;
}

.login-form .panel-body {
    /* height: 400px;
    background: url(https://rlv.zcache.com/rainbow_gay_pride_lgbt_flag_quote_mug-r73238979ab0349428a3ec8772174958e_x7jgr_8byvr_324.jpg);
    background-size: cover;
    box-sizing: border-box; */
    background: #242c42;
    box-shadow: 0 3px 20px 10px #41313C;
    border: none;
    color: #fff;
}

.form-group .form-control-email {
    background: transparent;
    width: 77%;
}

.form-group .form-control-password {
    background: transparent;
    width: 77%;
}

@media screen and (min-width: 480px) and (max-width: 992px) {
    .form-group .form-email,
    .form-password {
        display: flex;
        justify-content: center;
    }
    .form-group .form-control-email,
    .form-control-password {
        width: 77%;
        height: 30px;
    }
}

@media screen and (max-width: 480px) {
    .form-group .form-email,
    .form-password {
        display: flex;
        justify-content: center;
    }
    .form-group .form-control-email,
    .form-control-password {
        width: 77%;
        height: 30px;
    }
}

.form-group .form-control-name {
    background: transparent;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .form-group .regedit-form {
        display: flex;
        justify-content: center;
    }
}

.form-group .form-control-password-regedit {
    background: transparent;
    width: 100%;
}

.form-group .form-control-email-regedit {
    background: transparent;
    width: 100%;
}

.form-group .form-control-re-password-regedit {
    background: transparent;
    width: 100%;
}

@media screen and (max-width: 992px) {
    .form-group .form-control-name {
        background: transparent;
        width: 75%;
    }
    .form-group .form-control-password-regedit {
        width: 75%;
    }
    .form-group .form-control-email-regedit {
        width: 75%;
    }
    .form-group .form-control-re-password-regedit {
        width: 75%;
    }
}

.form-group .form-group {
    background: transparent;
    width: 100%;
}

.form-group .form-control-newpass {
    background: transparent;
    width: 100%;
}

.form-group .form-control-oldpass {
    background: transparent;
    width: 100%;
}

.form-group .login-btn {
    background: #86BC42;
    width: 35%;
    margin: 0 auto;
    margin-left: 36%;
    padding: 10px 0;
}

.form-group .login-btn-regedit {
    background: #86BC42;
    width: 35%;
    margin: 0 auto;
    margin-left: 32%;
    padding: 10px 0;
}

.form-group .login-btn-regedit:hover {
    background: #fff;
    color: #86BC42;
}

@media screen and (max-width: 480px) {}

.form-group .login-btn:hover {
    background: #fff;
    color: #86BC42;
}

.form-group .login-btn-email {
    background: #86BC42;
    padding: 10px 20px;
}

.form-group .login-btn-email:hover {
    background: #fff;
    color: #86BC42;
}

@media screen and (min-width: 640px) and (max-width: 992px) {
    .form-group .login-btn-email {
        font-size: 10px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .form-group .login-btn-email {
        font-size: 10px;
    }
}

@media screen and (max-width: 640px) {
    .form-group .login-btn-email {
        font-size: 6px;
    }
}

.form-group .form-default-email {
    margin-top: 10px;
    width: 62%;
}

@media screen and (max-width: 992px) {
    .form-group .form-default-email {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.form-group .form-default-pass {
    display: flex;
    justify-content: center;
}

.form-group .line-login-form {
    width: 15%;
}

hr {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.form-group .extension-choosen {
    margin-left: 14%;
}

.form-group .google-button-btn {
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
}

.form-group .google-button-btn-regedit {
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
}

.form-group .google-button-btn-regedit:hover {
    color: red;
    text-decoration: none;
}

.form-group .btn-google-regedit {
    background: #E0482F;
    width: 20%;
    margin-left: 49%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .form-group .btn-google-regedit {
        width: 33%;
        margin-left: 33%;
    }
}

.form-group .btn-google-regedit:hover {
    background: #fff;
}

.form-group .google-button-btn:hover {
    color: red;
    text-decoration: none;
}

.form-group .btn-google {
    background: #E0482F;
    width: 35%;
    height: 35px;
    margin-left: 36%;
    display: flex;
    justify-content: center;
}

.form-group .btn-google:hover {
    background: #fff;
}

@media screen and (max-width: 420px) {
    .form-group .google-button-btn-regedit {
        font-size: 8px;
    }
}


/* reset-password */